@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio de Luis</h1>
    <p>Acerca de <a href="https://docs.microsoft.com/aspnet/core">GitHUb e Integracion Continua</a>.</p>
</div>
